 body{
   background: grey;
 }

th {
border: 2px solid transparent;
border-radius: 10px;
}

th:hover{
  background-color: white;
}


td {
  text-align: center;
  font-size: 20px;
  background: salmon;
  border: 15px solid transparent;
  border-radius: 10px;
  width: 40px;
  
}

td:hover{
  background-color: bisque;

}



