body{
  background: url(imgs/bluecookies.jpg);
}

.sal {
  margin: 10%;
  margin-left: 25%;
  margin-top:30px;
  width: 50%;
}

.sal:hover{
  transition: 500ms;
  transform: rotate(180deg);
}

img {

	width: 30%;
	float: left;
  margin: 1.66%;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); 

}

.grid {
padding-top: 20%;

}

#salmookies {
  font-size: 100px;
  color: salmon;
  text-align: center;
  background-color: bisque;
  margin-top: 5%;
  font-family: 'Permanent Marker', cursive;

}