body {
  background-image: url(brickwall.jpg);

}


li{
  color:salmon;
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;

}

nav{
  background-color: #000000 ;
  width: 100%;
  height:70px;
}

.sal {
  margin: 10%;
  margin-left: 30%;
  margin-top: 30px;
  width: 40%;

}



.sal:hover {
  transition: 500ms;
  transform: rotate(360deg);

}

img {

	width: 30%;
	float: left;
  margin: 1.66%;
  
}


img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); 
  
}

#locations{
  margin-top: 25%;
  background-color: black;
  color: salmon;
  padding-top: 30px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;

}


.grid #one:hover .text{
  visibility: visible;
  opacity: 0;
  color: black;
}

.grid {
padding-top: 10%;

}

#salmookies {
  font-size: 100px;
  color:black;
  text-align: center;
  margin-top: 15px;
  font-family: 'Permanent Marker', cursive;

}

footer #hours {
  margin-top: 50%;
  margin-bottom: 20%;
  background-color: black;
  color: salmon;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

marquee{
  font-size: 50px;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 20px;
}

footer #contact{
  background-color: black;
  color: salmon;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
  margin-top: 5px;

}

